* {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

h3 {
    margin-bottom: 0.6em;
}

p {
    font-size: 1em;
    margin-bottom: 1em;
}

body {
    background-image: url('images/background_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin: 4em;
}

main.somos {
    margin-right: 0em;
}

.titulo-barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.barra-pesquisa input[type="text"] {
    padding: 5px 10px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #ccc;
    width: 200px;
    outline: none;
    background-color: gray;
    color: white;
}

.barra-pesquisa input[type="text"]::placeholder {
    color: white;
}

.barra-pesquisa button {
    background: url('images/lupa.png') no-repeat center, gray;
    background-size: 20px 20px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 15px 15px 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

.conteiner-circulo-texto {
    display: flex;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
}

/* .conteiner-circulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(11, 62, 139);
    position: relative;
    margin-bottom: 10px;
}

.circulo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

div.somos {
    display: flex;
    gap:4em
}

article.principal {
    display: flex;
}

section {
    margin: 5% 5% 5% 5%;
    text-align: center;
    color: aliceblue;
}

.somos article {
    width: 40vw;
}

div.blocos {
    background-color: rgba(11, 62, 139);
    color: aliceblue;
    margin-top: 2em;
    text-align: left;
    padding: 1em;
    border-radius: 30px;
    overflow: hidden;
}

.pessoas {
    background-color: rgba(11, 62, 139) ;
    color:aliceblue;
    text-align: left;
    padding: 1em;
    overflow: hidden;
}

div.fdireita {
    margin: 1em 0em 3em 13em;
    border-radius: 90px 30px 30px 90px;
}

div.fesquerda {
    margin: 1em 13em 3em 0em;
    border-radius: 30px 90px 90px 30px;
}

.livro img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}

.fundador img {
    float: left;
    margin-right: 1em;
    border-radius: 90px;
}

div a{
    background-color: rgb(175 137 100);
    color: aliceblue;
    font-size: 2em;
    font-weight: bolder;
    padding: 0.3em 0.8em 0.3em 0.8em;
    margin: 0;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    border-radius: 50px;
    margin-left: 83%;
}

figure.livro {
    float: left;
    margin: 0;
}

footer,
header {
    background-color: rgba(11, 62, 139, 0.8);
}

footer {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
}

footer ul li {
    margin: 10px 20px 10px 0px;
}

footer h2{
    font-size: 1.5em;
    text-align: left;
}

footer section div {
    display: flex;
    font-size: 1.2em;
    vertical-align: center;

}

nav ul {
    background-color: rgba(175, 137, 100, 0.8);
    display: flex;
    justify-content: space-between;
    vertical-align: auto;
    padding: 0.7em 4em 0.7em 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}


ul li {
    list-style: none;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

table {
    width: 90%;
    height: 25em;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    border-collapse: separate;
    border-spacing: 5px;
}

th{
    text-align: center;
    color: black;
    background-color: #af8964;
    padding: 12px;
}

td {
    text-align: center;
    color: black;
    background-color: #d8bb9e;
    padding: 12px;
}

td:first-child {
    background-color: #af8964 ;
    color: black;
}

form{
    background-color:#af8964 ;
    border-radius: 40px;
    padding: 3em;
    color: black;
    width: 30vw;
    margin: auto;
}